<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
      
      <head>
        <title>Home</title>
    </head>
    <body>
    	<div layout:fragment="content">
    	
		     <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></p>
<!--	         <p><a th:href="@{/home}">User Home</a></p>-->
<!--		     <p><a th:href="@{/admin/home}">Admin Home</a></p>-->
		     <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
    	</div>
    	
    </body>
    
</html>