<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
  <meta charset="UTF-8">
  <title>Lista plików</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Lista plikow:</h1>
  <table class="table table-hover">

  <tr>
    <th>Nazwa pliku</th>
    <th>Rozmiar pliku</th>
  </tr>
    <tr th:each="file: ${files}">
      <td><a th:href="@{'/file/'+${file.getName()}}"/><span th:text="${file.getName()}"/></td>
      <td><span th:text="${#numbers.formatInteger(file.length()/1024, 0, 'COMMA')} + 'KB'"></td>
    </tr>
  </table>
</div>
</body>
</html>