<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Programowanie Zwinne UTP 2019/2020n</title>
</head>
<body>
<div layout:fragment="content">
<div th:if="${param.id_add != null}" th:text="${'Brawo! Dodany projekt otrzymał id = ' + param.id_add}">
</div>
<div th:if="${param.id_delete != null}" th:text="${'Brawo! Usunięto projekt o id = ' + param.id_delete}">
</div>

<h1>Projekty</h1>

<table class="table table-hover">
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Edytuj</th>
        <th sec:authorize="hasAuthority('ADMIN')">Usuń</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.getNazwa()}"></td>
        <td th:text="${project.getOpis()}"></td>
        <td>
            <form th:action="@{/ProjektEdycja}" method="Get">
                <input type="hidden" name="projekt_id" th:value="${project.getProjektId()}">
                <input type="submit" value="Edytuj">
            </form>
        </td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/ProjektUsun}" method="Post">
                <input type="hidden" name="projekt_id" th:value="${project.getProjektId()}">
                <input type="submit" value="Usuń">
            </form>
        </td>
    </tr>
</table>
    Strony:
    <span th:if="${projects.getTotalPages() > 0}"
          th:each="pageNumber : ${#numbers.sequence(1, projects.getTotalPages())}">
    <a th:href="@{/ProjektLista(page=${pageNumber})}"
       th:text="${pageNumber}"></a>
</span>
    <div class="row">
        <div class="form-group col-xs-offset-8 col-xs-4">
            <form th:action="@{/ProjektDodaj}" method="Get">
                <button type="submit" class="btn btn-primary btn-block btn-flat"
                        th:text="#{label.login}" name="btn_dodaj">Dodaj nowy</button>
            </form>
        </div>
        <div class="form-group col-xs-offset-8 col-xs-4">
            <form th:action="@{/ProjektFile}" method="Get">
                <button type="submit" class="btn btn-primary btn-block btn-flat"
                        th:text="#{label.upload}" name="btn_upload_file">Upload plikow</button>
            </form>
        </div>
        <div class="form-group col-xs-offset-8 col-xs-4">
            <form th:action="@{/ProjektDownload}" method="Get">
                <button type="submit" class="btn btn-primary btn-block btn-flat"
                        th:text="#{label.file_list}" name="btn_download">Lista plików</button>
            </form>
        </div>
    </div>

</div>



</body>
</html>