<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
<meta charset="">
<title>Upload plikow</title>
</head>
<body>
<div layout:fragment="content">
    <div class="panel col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload plików</div>
            <div class="panel-body">
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <input type="file" name="file" class="form-control"/><span class="glyphicon glyphicon-file form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    th:text="#{label.submit}">Wyślij</button>
                        </div>
                    </div>

</form>


</body>
</html>