<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Edycja projektu</title>
</head>
<body>
<div layout:fragment="content">
<div class="panel col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">Edytuj projekt</div>
        <div class="panel-body">
            <form action="#" th:action="@{/ProjektEdycja}" th:object="${projekt}" method="post">
                <input type="hidden" th:field="*{projektId}" th:value="${projekt.getProjektId()}" />
                <input type="hidden" th:field="*{dataCzasUtworzenia}" th:value="${projekt.getDataCzasUtworzenia()}">
            <div class="form-group has-feedback">
                Nazwa Projektu: <input type="text" class="form-control" th:field="*{nazwa}" th:value="${projekt.getNazwa()}" /><span class="glyphicon glyphicon-book form-control-feedback"></span>
            </div>
                <div class="form-group has-feedback">
                Opis projektu: <input type="text" class="form-control"th:field="*{opis}" th:value="${projekt.getOpis()}" /><span class="glyphicon glyphicon-comment form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="form-group col-xs-offset-8 col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"
                                th:text="#{label.edit}">Edytuj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>