<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Upload status</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Status wrzuconego pliku</h1>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
        <h2 th:text="${message1}"/>
    </div>

    <form th:action="@{/ProjektPowrot}" method="Get">
        <button name="btn_wroc" type="submit" value="Powrot" class="btn btn-primary btn-info btn-xs" th:text="#{label.return}">Jeszcze jeden</button>
    </form></br>

    <form th:action="@{/ProjektDownload}" method="Get">
        <button name="btn_wroc_lista_plikow" type="submit" value="Lista Plikow" class="btn btn-primary btn-info btn-xs" th:text="#{label.return}">Powrót do listy</button>
    </form>
</div>

</body>
</html>